.leftbar-chat{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 2px grey;
    height: 78vh;
    width: 100%;
    padding: 15px;
}

.leftbar-chat2{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 2px grey;
    height: 78vh;
    width: 280px;
    padding: 15px;
}